.propiedades-texto {
  color: lightsteelblue;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  direction: rtl;
  text-decoration-line: line-through;
  text-decoration-style: double;
  -webkit-text-stroke: 5px darkslategrey;
  paint-order: stroke fill;
}

.propiedades-caja {
  padding: 15px;
  margin: 20px;
  border: 5px solid black;
  position: relative;
  left: 30px; /* Mueve el elemento 30px a la derecha respecto al margen izquierdo de su contenedor padre */
}

.propiedades-background{
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    background-image: url('imagenes/csslogo.png');
    background-size: 100% 100%; /* Estira la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el fondo */
    opacity: 0.4;
}

